@import "../../styles/variables";

.menu {
	ul {
		width: 355px;
		display: flex;
		justify-content: space-between;
		list-style: none;
		height: 40px;
		align-items: flex-end;

		li {
			position: relative;
			&:nth-child(1) {
				padding-left: 35px;
			}
			a {
				font-size: 12px;
				text-decoration: none;
			}
		}
	}
	&__logo {
		position: absolute;
		left: 7px;
		top: -21px;
	}
	&_header {
		ul li a {
			color: $header-color;
		}
	}
	&_footer {
		ul {
			margin: 0 auto;
		}
	}
}
