@import "../../styles/variables";

.header {
	padding: 30px 84px 150px;
	&_main {
		background: url("../../assets/Bgs/mainPageBg.png") center center/cover no-repeat;
		min-height: 640px;
	}
	&__title {
		margin-top: 110px;

		color: $header-color;
		text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
		font-size: 40px;
		font-weight: 700;
		text-align: center;
	}
	&__text {
		text-align: center;
		color: $header-color;
		margin-top: 35px;
		font-size: 24px;
		font-weight: 700;
	}
	&__more {
		display: block;
		width: 120px;
		margin: 0 auto;
		margin-top: 18px;
		padding: 10px 0;

		border-radius: 3px;
		border: 1px solid #fff;
		background: rgba(196, 196, 196, 0);
		box-shadow: 3px 2px 9px 0px rgba(0, 0, 0, 0.25);

		font-size: 14px;
		font-weight: 700;
		color: $header-color;
		text-decoration: none;
		text-align: center;
	}
}
